# Managed by NetApp E-Series Ansible
{% set interface_definition = eseries_ip_interface_defaults | combine(eseries_ip_interface_common) | combine(item) %}
network:
  version: 2
  renderer: {% if "network_manager" in eseries_ip_manager_tools %}NetworkManager{% elif "networkd" eseries_ip_manager_tools in %}networkd{% endif %}
  ethernets:
    {{ item["name"] }}:
      addresses:
        - {{ item["address"] }}
{# Output any additions from eseries_ip_interface_common or eseries_ip_interfaces list item #}
{% for key, value in interface_definition.items() %}
{%   set key = key | lower %}
{%   if key not in eseries_ip_interface_ignore_keys and key not in eseries_ip_interface_required_keys %}
{%     if key == "gateway" %}
{%       if value | ansible.netcommon.ipv4 %}
      gateway4: {{ value }}
{%       elif value | ansible.netcommon.ipv6 %}
      gateway6: {{ value }}
{%       endif %}
{%     elif value and not value | regex_search("__omit_place_holder__") %}
      {{ key }}: {{ value }}
{%     endif %}
{%   endif %}
{% endfor %}
