- name: Install InfiniBand iSER.
  ansible.builtin.include_tasks: install.yml
  when: not (eseries_common_uninstall | default(eseries_ib_iser_uninstall) | bool)

- name: Uninstall InfiniBand iSER.
  ansible.builtin.include_tasks: uninstall.yml
  when: eseries_common_uninstall | default(eseries_ib_iser_uninstall) | bool
