- name: Ensure netplan ethernet interfaces configuration files have been removed.
  ansible.builtin.file:
    state: absent
    path: "{{ eseries_ip_netplan_path }}99-eseries-ansible-{{ item['name'] }}.yaml"
  register: netplan
  loop: "{{ eseries_ip_interfaces }}"
  become: true

- name: Apply changes to Netplan
  ansible.builtin.command:
    cmd: netplan apply
  when: netplan['changed'] | bool
  become: true
