# Managed by NetApp E-Series Ansible

network:
  version: 2
  renderer: networkd
  ethernets:
{% for interface in eseries_ib_iser_interfaces %}
    {{ interface["name"] }}:
      addresses:
        - {{ interface["address"] }}
      mtu: {{ interface["mtu"] | default(eseries_ib_iser_mtu) }}
{% endfor %}
