# Managed by NetApp E-Series Ansible
{% if ansible_os_family | lower == "redhat" %}

DEVICE={{ item["name"] }}
ONBOOT=yes
BOOTPROTO=none
PREFIX={{ item["address"] | ansible.netcommon.ipaddr("prefix") }}
IPADDR={{ item["address"] | ansible.netcommon.ipaddr("address") }}
{% if item["gateway"] is defined or eseries_iscsi_gateway is defined %}
GATEWAY={{ item["gateway"] | default(eseries_iscsi_gateway) }}
{% endif %}
{% if item["mtu"] is defined or eseries_iscsi_mtu is defined %}
MTU={{ item["mtu"] | default(eseries_iscsi_mtu) }}
{% endif %}
{% if item["zone"] is defined or eseries_iscsi_firewall_zone is defined or eseries_common_firewall_zone is defined %}
ZONE={{ item["zone"] | default(eseries_iscsi_firewall_zone | default(eseries_common_firewall_zone)) }}
{% endif %}

{% elif ansible_os_family | lower == "suse" %}

LABEL={{ item["name"] }}
STARTMODE=auto
BOOTPROTO=static
IPADDR={{ item["address"] }}
{% if item["gateway"] is defined or eseries_iscsi_gateway is defined %}
GATEWAYS={{ item["gateway"] | default(eseries_iscsi_gateway) }}
{% endif %}
{% if item["mtu"] is defined or eseries_iscsi_mtu is defined %}
MTU={{ item["mtu"] | default(eseries_iscsi_mtu) }}
{% endif %}
{% if item["zone"] is defined or eseries_iscsi_firewall_zone is defined or eseries_common_firewall_zone is defined %}
ZONE={{ item["zone"] | default(eseries_iscsi_firewall_zone | default(eseries_common_firewall_zone)) }
{% endif %}

{% elif ansible_os_family | lower == "debian" %}

auto {{ item["name"] }}
iface {{ item["name"] }} inet static
    address   {{ item["address"] }}
{% if item["gateway"] is defined or eseries_iscsi_gateway is defined %}
    gateway   {{ item["gateway"] | default(eseries_iscsi_gateway) }}
{% endif %}
{% if item["mtu"] is defined or eseries_iscsi_mtu is defined %}
    mtu       {{ item["mtu"] | default(eseries_iscsi_mtu) }}
{% endif %}
{% endif %}
