- name: Install InfiniBand OpenSM subnet managers.
  ansible.builtin.include_tasks: install.yml
  when: not (eseries_common_uninstall | default(eseries_ib_opensm_uninstall) | bool)

- name: Uninstall InfiniBand OpenSM subnet managers.
  ansible.builtin.include_tasks: uninstall.yml
  when: eseries_common_uninstall | default(eseries_ib_opensm_uninstall) | bool
