{%- set array_info = {} -%}
{%- for id, target in targets.items() -%}
{%-   if target["nqn"] not in (array_info.keys() | list) -%}
{%-     if array_info.update({target["nqn"]: {"addresses": [],
                                        "array_name": target["array_name"],
                                        "hostnqn": target["hostnqn"],
                                        "port": target["port"],
                                        "queue_depth": target["queue_depth"],
                                        "controller_loss_timeout": target["controller_loss_timeout"]} }) -%}{%- endif -%}
{%-   endif -%}
{%-   if array_info[target["nqn"]]["addresses"].append(target["address"]) -%}{%- endif -%}
{%- endfor %}
# Maintained by E-Series Ansible.
{% for storage_nqn, storage_info in array_info.items() -%}
{%   for storage_address in storage_info["addresses"] %}
{{ storage_info["array_name"] }} {{ storage_nqn }} {{ storage_address }} {{ storage_info["port"] }} {{ storage_info["queue_depth"] }} {{ storage_info["controller_loss_timeout"] }}
{%   endfor %}
{% endfor %}