[Unit]
Description=Connect to all NVMe targets (E-Series Ansible automation)
After=network.target
Before=remote-fs-pre.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart={{ eseries_nvme_ib_daemon_path }}{{ eseries_nvme_ib_daemon_name }} start
ExecStop={{ eseries_nvme_ib_daemon_path }}{{ eseries_nvme_ib_daemon_name }} stop
ExecReload={{ eseries_nvme_ib_daemon_path }}{{ eseries_nvme_ib_daemon_name }} reload

[Install]
WantedBy=multi-user.target
