[Unit]
Description=Connect to all NVMe targets
Requires=network-online.target
After=systemd-modules-load.service network-online.target

[Service]
Type=simple
ExecStart={{ eseries_nvme_ib_daemon_path }}{{ eseries_nvme_ib_daemon_name }} start
ExecStop={{ eseries_nvme_ib_daemon_path }}{{ eseries_nvme_ib_daemon_name }} stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
