{%- set scratch = {"enable_foreign_nvme": False} -%}
{%- for line in current_multipath_configuration["stdout_lines"] if scratch["enable_foreign_nvme"] == False and line | regex_search("enable_foreign", ignorecase=True) -%}
  {%- for volume in eseries_volumes if scratch["enable_foreign_nvme"] == False %}
    {%- for protocol in volume["host_port_protocols"] if scratch["enable_foreign_nvme"] == False and protocol in ["nvme_ib", "nvme_fc", "nvme_roce"] -%}
      {%- if scratch.update({"enable_foreign_nvme": True}) -%}{%- endif -%}
    {%- endfor -%}
  {%- endfor -%}
{%- endfor -%}

# Managed by NetApp E-Series Ansible

defaults {
  user_friendly_names {% if eseries_multipath_configure_user_friendly_names == True %}yes{% else %}no{% endif %}
{% if scratch["enable_foreign_nvme"] == True %}

  enable_foreign nvme
{%- endif %}

}
multipaths {
{% if eseries_multipath_configure_user_friendly_names == True -%}
{%- for volume in eseries_volumes %}
  multipath {
    wwid {{ volume["host_wwid"] }}
    alias {{ volume["name"] }}
  }
{% endfor -%}
{%- endif %}
}
