#!/bin/bash
# Managed by NetApp E-Series Ansible

if [ "$IFACE" = {{ item["name"] }} ]; then

  {%- if eseries_connected_mode == True %}  echo "connected" > /sys/class/net/{{ item["name"] }}/mode{% endif %}
  ip link set ib0 mtu {{ interface["mtu"] | default(eseries_ipoib_mtu) }}
fi
exit 0