# Managed by NetApp E-Series Ansible

network:
  version: 2
  renderer: networkd
  ethernets:
    {{ item["name"] }}:
      addresses:
        - {{ item["address"] }}
{% if item["mtu"] is defined or eseries_ipoib_mtu is defined %}
      mtu: {{ item["mtu"] | default(eseries_ipoib_mtu) }}
{% endif %}
