eseries_multipath_configure_user_friendly_names: true
eseries_multipath_path_selector: "round-robin 0"
eseries_multipath_command_timeout: 120000     # Set the timeout of multipathd interactive commands in milliseconds.

eseries_multipath_conf_d_path: /etc/multipath/conf.d/
eseries_multipath_modules_d: /etc/modules-load.d/
eseries_multipath_initramfs_modules_path: /etc/initramfs-tools/modules
eseries_multipath_dracut_conf_d: /etc/dracut.conf.d/
eseries_multipath_initramfs_modules:
  - multipath

eseries_multipath_kernel_drivers:
  - dm-multipath

eseries_multipath_rhel_packages:
  - device-mapper-multipath

eseries_multipath_suse_packages:
  - multipath-tools

eseries_multipath_ubuntu_packages:
  - multipath-tools
  - multipath-tools-boot

eseries_multipath_nvme_protocols: ["nvme_ib", "nvme_fc", "nvme_roce"]
eseries_multipath_foreign_library: nvme  # enables foreign library when multipath enable_foreign option is available

eseries_multipath_uninstall: false  # Whether to uninstall multipath role.
eseries_multipath_skip: false   # Whether to do any multipath configuration (install or uninstall)