[Unit]
Description=Open subnet manager loader service (E-Series Ansible automation)
DefaultDependencies=false
Before=network.target remote-fs-pre.target
After=rdma-hw.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart={{ eseries_ib_opensm_daemon_path }}eseries_opensm start
ExecStop={{ eseries_ib_opensm_daemon_path }}eseries_opensm stop

[Install]
WantedBy=network.target