- name: Determine firewall services.
  ansible.builtin.service_facts:
  become: true

- name: Remove firewall configuration. 
  block:
  - name: Unconfigure firewalld service.
    ansible.builtin.include_tasks: interface/firewall_zone/uninstall/firewalld.yml
    when: ansible_facts["services"]["firewalld.service"] is defined

  - name: Unconfigure ufw service.
    ansible.builtin.include_tasks: interface/firewall_zone/uninstall/ufw.yml
    when: ansible_facts["services"]["ufw.service"] is defined
  when: eseries_ip_configure_firewall | bool
