{#- Get unique set of guids -#}
{%- set guids = [] -%}
{%- for volume in initiator_volume_facts if "ib_srp" in volume["host_port_information"] -%}
  {%- for ib_srp_port in volume["host_port_information"]["ib_srp"] if ib_srp_port["guid"] and ib_srp_port["guid"] not in guids -%}
    {%- if guids.append(ib_srp_port["guid"]) -%}{%- endif -%}
  {%- endfor -%}
{%- endfor -%}
# Managed by NetApp E-Series Ansible

{% for guid in guids %}
a dgid={{ guid | lower }}
{% endfor %}
