- name: Install InfiniBand SRP.
  ansible.builtin.include_tasks: install.yml
  when: not (eseries_common_uninstall | default(eseries_ib_srp_uninstall) | bool)

- name: Uninstall InfiniBand SRP.
  ansible.builtin.include_tasks: uninstall.yml
  when: eseries_common_uninstall | default(eseries_ib_srp_uninstall) | bool
