# Managed by NetApp E-Series Ansible

# Load IPoIB and enable IPoIB connected mode when InfiniBand IPoIB is enabled.
IPOIB_LOAD={{ "yes" if eseries_ib_base_ipoib_enabled == True else "no" }}
SET_IPOIB_CM={{ "yes" if eseries_ib_base_ipoib_enabled == True else "no" }}

# Load iSER (iSCSI over RDMA initiator support) and iSERT (iSCSI over RDMA target support) modules when InfiniBand iSER is enabled.
ISER_LOAD={{ "yes" if eseries_ib_base_iser_enabled == True else "no" }}
ISERT_LOAD={{ "yes" if eseries_ib_base_iser_enabled == True else "no" }}

# InfiniBand SRP - Load SRP (SCSI Remote Protocol initiator support) and SRPT (SCSI Remote Protocol target support) modules when InfiniBand SRP is enabled.
SRP_LOAD={{ "yes" if eseries_ib_base_srp_enabled == True else "no" }}
SRPT_LOAD={{ "yes" if eseries_ib_base_srp_enabled == True else "no" }}

# Load NFSoRDMA client transport and NFSoRDMA server transport modules.
XPRTRDMA_LOAD=no
SVCRDMA_LOAD=no

# Load RDS (Reliable Datagram Service) network protocol.
RDS_LOAD=no

# Load Tech Preview device driver modules
TECH_PREVIEW_LOAD=no