- name: Install NVMe RoCE.
  ansible.builtin.include_tasks: install.yml
  when: not (eseries_common_uninstall | default(eseries_nvme_roce_uninstall) | bool)

- name: Uninstall NVMe RoCE.
  ansible.builtin.include_tasks: uninstall.yml
  when: eseries_common_uninstall | default(eseries_nvme_roce_uninstall) | bool
