- name: Determine network management tools
  block:
    - name: Get systemd services
      ansible.builtin.service_facts:
      become: true

    - name: Determine whether netplan is installed.
      ansible.builtin.shell: command -v netplan
      register: netplan
      changed_when: false
      failed_when: false
      become: true

    - name: Determine whether ifupdown or compatible tool is installed.
      ansible.builtin.shell: command -v ifup
      register: ifupdown
      changed_when: false
      failed_when: false
      become: true

    - name: Determine whether nmcli is installed.
      ansible.builtin.shell: command -v nmcli
      register: nmcli
      changed_when: false
      failed_when: false
      become: true

    - name: Populate eseries_ip_manager list.
      ansible.builtin.set_fact:
        eseries_ip_manager_tools: |-
          {%- set managers = [] -%}
          {%- if ifupdown["rc"] == 0 -%}
            {%- if managers.append("ifupdown") -%}{%- endif -%}
          {%- elif nmcli["rc"] == 0 -%}
            {%- if managers.append("nmcli") -%}{%- endif -%}
          {%- elif netplan["rc"] == 0 -%}
            {%- if managers.append("netplan") -%}{%- endif -%}
          {%- endif -%}

          {%- if ansible_facts["services"]["NetworkManager.service"] is defined and
                 (ansible_facts["services"]["NetworkManager.service"]["state"] == "running" or
                  ansible_facts["services"]["NetworkManager.service"]["status"] == "enabled") -%}
            {%- if managers.append("network_manager") -%}{%- endif -%}
          {%- elif ansible_facts["services"]["systemd-networkd.service"] is defined and
                 (ansible_facts["services"]["systemd-networkd.service"]["state"] == "running" or
                  ansible_facts["services"]["systemd-networkd.service"]["status"] == "enabled") -%}
            {%- if managers.append("networkd") -%}{%- endif -%}
          {%- endif -%}
          {{- managers -}}
  when: eseries_ip_manager_tools is not defined

- name: Determine if Netplan or ifupdown or nmcli are installed.
  ansible.builtin.fail:
    msg: "Only one compatible network management tool should be installed.
          Detected: {{ current_ip_tools }}.
          Remove the unused tools or explicitly set eseries_ip_manager_tools in your inventory to the desired tool."
  when: current_ip_tools | length != 1
  vars:
    current_ip_tools: "{{ eseries_ip_manager_tools | select('in', ['netplan', 'ifupdown', 'nmcli']) | list }}"

- name: Determine if NetworkManager or systemd-networkd are installed.
  ansible.builtin.fail:
    msg: "Either both NetworkManager and systemd-networkd are installed, or neither is installed!
          Detected: {{ current_ip_tools }}.
          Remove the unused tools or explicitly set eseries_ip_manager_tools in your inventory to the desired tool."
  when: current_ip_tools | length != 1
  vars:
    current_ip_tools: "{{ eseries_ip_manager_tools | select('in', ['network_manager', 'networkd']) | list }}"
