- name: Check interface definitions.
  ansible.builtin.fail:
    msg: "Interface(s) are missing required information! Required keys: [ {{- eseries_ip_interface_required_keys | join(', ') -}} ]. Definitions missing required keys: [ {{- invalid_interfaces | join(', ') -}} ]"
  when: invalid_interfaces | length > 0
  vars:
    invalid_interfaces: |-
      {%- set interfaces = [] -%}
      {%- for interface in eseries_ip_interfaces -%}
        {%- set keys = interface.keys() | list -%}
        {%- for required_key in eseries_ip_interface_required_keys if required_key not in keys -%}
          {%- if interfaces.append(interface) -%}{%- endif -%}
        {%- endfor -%}
      {%- endfor -%}
      {{- interfaces -}}

- name: Configure persistent network interface names.
  ansible.builtin.include_role:
    name: netapp_eseries.host.common
    tasks_from: interface/rename_rules/apply.yml
  vars:
    eseries_common_udev_name: "{{ eseries_ip_udev_name }}"
    eseries_common_udev_rules: "{{ eseries_ip_udev_rules }}"

- name: Configure interfaces using netplan configuration.
  ansible.builtin.include_tasks: interface/netplan.yml
  when: '"netplan" in eseries_ip_manager_tools'

- name: Configure interfaces using nmcli configuration.
  ansible.builtin.include_tasks: interface/nmcli.yml
  when: '"nmcli" in eseries_ip_manager_tools'

- name: Configure interfaces using ifupdown configuration.
  ansible.builtin.include_tasks: interface/ifupdown.yml
  when: '"ifupdown" in eseries_ip_manager_tools'

- name: Apply any interface firewall changes.
  ansible.builtin.include_tasks: interface/firewall_zone/apply.yml
  when: eseries_ip_configure_firewall | bool
